@import "tailwindcss";

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX(90deg) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) rotateX(0deg) translateY(0);
  }
}

.animate-letter {
  display: inline-block;
  opacity: 0;
  animation: rotateIn 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.rubik-iso-regular {
  font-family: "Rubik Iso", system-ui;
  font-weight: 400;
  font-style: normal;
}


.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
